$peach: #f3756b;
$hot-lavender: #ffbdef;
$gray : rgb(131, 102, 102);
$border-gray: rgb(165, 165, 165);
$light-gray : #F3F3F3;
$soft-lavender: #e1e8f6;
$dark-gray: #DCE1E3;
$lapis: #39a0ca;
$ice-blue: #a0d2eb;
$coffee: #e3dbc9;
$red: red;

@function rem($value) {
    @return ($value / 16) * 1rem;
}

@font-face {
    font-family: futura;
    src: url(../../assets/FuturaBook.ttf);
}

@font-face {
    font-family: freight-light;
    src: url(../../assets/FreightBigLight.otf);
}

.about-wrapper {
    height: 100%;
    .about-background {
        background-image: url(../../assets/matcha-background.jpg);
        height: 43.8vw;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .about-title {
        font-size: calc(15px + 2.5vw);
        word-spacing: 1px;
        letter-spacing: 1px;
        margin-left: 5vw;
        padding-top: 3vw;
    }
    .about-text-container {
        margin-top: 30px;
        width: 42vw;
        .about-text {
            margin-left: 5vw;
            width: 42vw;
            margin-bottom: 40px;
            font-family: freight-light;
            font-size: calc(15px + 0.5vw);
            letter-spacing: 1px;
            word-spacing: 1px;
            line-height: calc(15px + 0.7vw);
        }
    }
}