@function rem($value) {
    @return ($value / 16) * 1rem;
  }
  
  @font-face {
    font-family: futura;
    src: url(../../assets/FuturaBook.ttf);
  }
  
  @font-face {
    font-family: freight-light;
    src: url(../../assets/FreightBigLight.otf);
  }
  
  $peach: #f3756b;
  $hot-lavender: #ffbdef;
  $gray : rgb(131, 102, 102);
  $border-gray: rgb(165, 165, 165);
  $light-gray : #F3F3F3;
  $soft-lavender: #e1e8f6;
  $dark-gray: #DCE1E3;
  $lapis: #39a0ca;
  $ice-blue: #a0d2eb;
  $coffee: #e3dbc9;

#home {
    height: 100%;
    #home-wrapper {
        height: 100%;
        .home-background {
            // justify-content: center;
            display: flex;
            background-image: url(../../assets/background-curology2.jpg);
            height: 43.8vw;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 85px;
            #home-greeting {
                display: flex;
                flex-direction: column;
                margin-left: 25vw;
                padding-top: 13.8vw;
                width: rem(800);
                height: 100%;
                color: black;
                #hg-title {
                    // font-size: 45px;
                    font-size: calc(15px + 2vw);
                    letter-spacing: 3px;
                }
                #hg-description {
                    width: 40vw;
                    margin-top: 15px;
                    font-family: freight-light;
                    font-size: calc(10px + 1.5vw);
                    letter-spacing: 1px;
                    word-spacing: 2px;
                }
                #hg-button {
                    margin-top: 1vw;
                    letter-spacing: 1px;
                    color: white;
                    padding: 9px 13px;
                    text-align: center;
                    font-size: calc(5px + 1.3vw);
                    width: calc(100px + 7vw);
                    background-color: #d51280;
                    &:hover {
                        transition: 0.4s;
                        color: #eb359c;
                        background-color: rgb(255, 230, 230);
                    }
                }
            }
        }
    }
}