/* CSS Reset */
*, *::before, *::after { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

:root {
    --gray : rgb(160, 160, 160);
    --border-gray: rgb(165, 165, 165);
    --light-gray : #F3F3F3;
    --soft-lavender: #e1e8f6;
    --dark-gray: #DCE1E3;
    --lapis: #39a0ca;
    --ice-blue: #a0d2eb;
    --peach: #f3756b;
    --coffee: #e3dbc9;
}

@font-face {
    font-family: futura;
    src: url(../assets/FuturaBook.ttf);
}

@font-face {
    font-family: freight-light;
    src: url(../assets/FreightBigLight.otf);
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--soft-lavender);
    font-family: futura, "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    user-select: none;
}

// Header 
.header {
    width: 100%;
    height: 90px;
    color: var(--peach);
    display: flex;
    justify-content: center;
    background: white;
    position: fixed;
    top: 0px;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    .nav-wrapper {
        display: flex;
        flex-wrap: nowrap;
        flex: 1 0 67%;
        align-items: center;
        max-width: 1200px;
        #logo {
            font-size: 35px;
            margin-left: 25px;
        }
        .nav-container {
            width: 350px;
            height: 40px;
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            text-align: right;
            justify-content: flex-end;
            margin-left: 30px;
            margin-top: 12px;
            font-size: 25px;
            padding-right: 25px;
            .nav-item {
                font-size: 23px;
                margin-left: 45px;
                cursor: pointer;
                letter-spacing: 1.2px;
                word-spacing: 0px;
                &:hover {
                    border-bottom: #f3756b solid;
                    border-width: 3px;
                    opacity: 0.85;
                    transition: 0.1s;
                }
            }
        }
    }
}

// Bottom 
.bottom-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: white;
    .bottom-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        flex: 1 0 67%;
        margin-top: 10px;
        background: white;
        .bottom-item {
            display: flex;
            flex-flow: column nowrap;
            width: 260px;
            margin-bottom: 15px;
            .bottom-title {
                margin-top: 20px;
                margin-bottom: 5px;
                font-size: 17px;
                font-weight: 600;
            }
        }
    }
}

.content {
    // Set margin equal to the header heigh
    margin-top: 90px;
}

// Home 
#home-wrapper {
    display: flex;
    flex-direction: column;
}

// Promo 
.promo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    flex: 1 0 67%;
    align-items: center;
    .promo-item {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 260px;
        margin-left: 20px;
        margin-right: 20px;
        .promo-img {
            width: 100%;
            height: 260px;
            object-position: center;
        }
        .promo-text {
            width: 240px;
            height: 128px;
            margin-top: 20px;
            font-family: freight-light;
            letter-spacing: 1px;
            font-size: 18px;
            color: rgb(65, 65, 65);
            word-spacing: 1.2px;
            text-align: center;
            line-height: 23px;
        }
        .promo-button {
            border: black solid;
            width: max-content;
            border-color:#d51280;
            border-width: 1.7px;
            padding: 6px 15px; 
            color: #d51280;
            font-family: futura;
            font-size: 12px;
            letter-spacing: 1px;
            &:hover {
                transition: 0.4s;
                background: #d3288938;
            }
        }
    }
}

// Shop
.shop-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    .shop-container {
        display: flex;
        flex-direction: row;
    }
}

// Styling for each product items
.product {
    width: 165px;
    display: flex;
    flex-flow: column nowrap;
    border: black solid;
    margin-left: 10px;
    margin-right: 10px;
    .product-img {
        width: 100%;
        height: 200px;
        border: red solid;
    }
    .product-container {
        .product-name {
        }
        .product-brand {
            font-weight: 600;
            font-size: 20px;
            letter-spacing: 0.7px;
        }
        .product-description {

        }
        .product-price {

        }
        .quantity-container {
            display: flex;
            flex-flow: row nowrap;
        }
    }
}